[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/reservoirprotocol"]
	path = lib/reservoirprotocol
	url = https://github.com/reservoirprotocol/core.git
