node_modules
.env
coverage
coverage.json
typechain
typechain-types

#foundry files
cache


yarn.lock
package-lock.json
.idea

#whitelists for gregs
constants/og
constants/es

#counter of code lines.
.VSCodeCounter
#deployments

#Harhdat cache
cache_hardhat
artifacts
